<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/header.css")
    body
        header
            nav
                ul
                    li
                        a(href="/") Homepage
                    li
                        a(href="/admin/user") User
                    li
                        a(href="/admin/add-user") Add users
        main
            h1 This is the homepage
